Repository y-hsgw/github-actions-lab, changes with the labels that .github/labeler.yml gives for each.
All labels: api, web, docs, e2e

CIが落ちるか確認
  apps/web/src/app/layout.tsx
Labels: web

エラーで落ちるようCI修正
  .github/workflows/ci.yml
Labels: none

エラーで落ちるか検証
  .github/workflows/ci.yml
Labels: none

concurrencyの設定
  .github/workflows/ci.yml
Labels: none

prepare-installの作成
  .github/actions/prepare-install.yml
  .github/workflows/ci.yml
Labels: none

複合アクションの作成
  .github/actions/prepare-install/action.yml
Labels: none

usesの修正
  .github/workflows/ci.yml
Labels: none

並列で静的テストを実行するようジョブを変更
  .github/workflows/ci.yml
Labels: none

未使用変数削除
  apps/web/src/app/layout.tsx
Labels: web

ignoreBuildErrorsの設定
  apps/web/next.config.ts
Labels: web

typeのimportに縛る
  apps/api/src/cats/cats.controller.ts
  apps/api/src/cats/cats.service.ts
  apps/api/tsconfig.json
Labels: api

複合アクション（prepare-install）の適用 (#15)
  .github/actions/prepare-install/action.yml
  .github/workflows/ci.yml
  apps/api/src/cats/cats.controller.ts
  apps/api/src/cats/cats.service.ts
  apps/api/tsconfig.json
  apps/web/next.config.ts
Labels: api, web

prepare-installにデバックステップ追加
  .github/actions/prepare-install/action.yml
Labels: none

prepare-installを使うよう修正
  .github/workflows/docs-deploy.yml
  .github/workflows/e2e.yml
Labels: none

typescriptのバージョン更新
  apps/api/package.json
  apps/web/package.json
  docs/package.json
  package-lock.json
Labels: api, web, docs

prepareに統合
  .github/workflows/ci.yml
Labels: none

複合アクションの検証 (#16)
  .github/actions/prepare-install/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/e2e.yml
  apps/api/package.json
  apps/web/package.json
  docs/package.json
  package-lock.json
Labels: api, web, docs

error.tsx作成
  apps/web/src/app/error.tsx
Labels: web

回避策
  apps/web/src/app/page.tsx
Labels: web

エラーページ作成 (#17)
  apps/web/src/app/error.tsx
  apps/web/src/app/page.tsx
Labels: web

useDisclosureの作成
  apps/web/src/hooks/use-disclosure.ts
Labels: web

webでテストに必要なパッケージ追加
  apps/web/package.json
  package-lock.json
  package.json
Labels: web

テストの設定
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
Labels: web

useDisclosureのUT実装
  apps/web/src/hooks/__tests__/use-disclousure.test.ts
Labels: web

ifの順序検証
  .github/workflows/ci.yml
Labels: none

シングルクォートに修正
  .github/workflows/ci.yml
Labels: none

ifの順序戻す
  .github/workflows/ci.yml
Labels: none

api-static-test-resultsのジョブ追加
  .github/workflows/ci.yml
Labels: none

web-static-test-resultsのジョブ追加
  .github/workflows/ci.yml
Labels: none

検証
  apps/web/src/hooks/use-disclosure.ts
Labels: web

Revert "検証"
  apps/web/src/hooks/use-disclosure.ts
Labels: web

static-test-resultsのジョブにまとめる
  .github/workflows/ci.yml
Labels: none

skipが入っていたので削除
  .github/workflows/ci.yml
Labels: none

CI失敗するか検証
  apps/web/src/hooks/use-disclosure.ts
Labels: web

失敗しているジョブをログに出力
  .github/workflows/ci.yml
Labels: none

Revert "失敗しているジョブをログに出力"
  .github/workflows/ci.yml
Labels: none

Revert "skipが入っていたので削除"
  apps/web/src/hooks/use-disclosure.ts
Labels: web

GithubActionsのStatusChecksでPendingになったままになる問題解消対応 (#18)
  .github/workflows/ci.yml
  apps/web/package.json
  apps/web/src/hooks/__tests__/use-disclousure.test.ts
  apps/web/src/hooks/use-disclosure.ts
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  package-lock.json
  package.json
Labels: web

APIのCIに変更
  .github/workflows/api-ci.yml
  .github/workflows/ci.yml
Labels: none

vitestの設定ファイル追加
  apps/api/package.json
  apps/api/vitest.config.ts
  package-lock.json
Labels: api

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: apps/api/**

web:
  - changed-files:
      - any-glob-to-any-file: apps/web/**

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

e2e:
  - changed-files:
      - any-glob-to-any-file: e2e/**
