Repository y-hsgw/github-actions-lab, changes with the labels that .github/labeler.yml gives for each.
All labels: api, web, docs, e2e

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: apps/api/**

web:
  - changed-files:
      - any-glob-to-any-file: apps/web/**

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

e2e:
  - changed-files:
      - any-glob-to-any-file: e2e/**

needsの指定ミス修正
  .github/workflows/api-ci.yml
Labels: none

pathsに対象ファイル追加
  .github/workflows/api-ci.yml
Labels: none

ifの削除漏れ
  .github/workflows/api-ci.yml
Labels: none

不要なneeds削除
  .github/workflows/api-ci.yml
Labels: none

CIとlint修正
  .github/workflows/api-ci.yml
  apps/api/vitest.config.ts
  packages/eslint-config/base.config.js
Labels: api

CIが落ちるか検証
  apps/api/src/main.ts
Labels: api

Revert "CIが落ちるか検証"
  apps/api/src/main.ts
Labels: api

API用のCIに変更 (#19)
  .github/workflows/api-ci.yml
  .github/workflows/ci.yml
  apps/api/package.json
  apps/api/vitest.config.ts
  package-lock.json
  packages/eslint-config/base.config.js
Labels: api

web ciの作成
  .github/workflows/web-ci.yml
Labels: none

パッケージの整理
  apps/web/package.json
  package-lock.json
  package.json
Labels: web

CIが落ちるか検証
  apps/web/vitest.config.ts
Labels: web

Revert "CIが落ちるか検証"
  apps/web/vitest.config.ts
Labels: web

Web用のCI実装 (#20)
  .github/workflows/web-ci.yml
  apps/web/package.json
  package-lock.json
  package.json
Labels: web

lintとbuildにジョブを変更
  .github/workflows/web-ci.yml
Labels: none

nextConfigからignoreBuildErrorsを解除
  apps/web/next.config.ts
Labels: web

ジョブ名をユニークに変更
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

WebCIの更新 (#21)
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
  apps/web/next.config.ts
Labels: web

apiのCI更新
  .github/workflows/api-ci.yml
Labels: none

@nestjs/testingのインストール
  apps/api/package.json
  package-lock.json
Labels: api

pathsだとStatus Checkがpendingのままになってしまう問題の対応
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

needsにchanges設定
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

APIのCI更新 (#22)
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
  apps/api/package.json
  package-lock.json
Labels: api

push時にエラーが起きる問題の対応
  .github/actions/prepare-install/action.yml
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

push時にエラーが起きる問題の対応 (#23)
  .github/actions/prepare-install/action.yml
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

push時にエラーが起きる問題の対応
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

push時にエラーが起きる問題の対応 (#24)
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

apiのtsconfigの設定更新
  apps/api/tsconfig.json
Labels: api

type-checkエラーの修正
  apps/api/src/cats/cats.controller.ts
Labels: api

netlifyの設定
  apps/web/netlify.toml
Labels: web

CatsControllerのUT作成
  apps/api/src/cats/cats.controller.test.ts
Labels: api

ignoreコマンドの修正
  apps/web/netlify.toml
Labels: web

apiのtsconfigの設定更新 (#25)
  apps/api/src/cats/cats.controller.test.ts
  apps/api/src/cats/cats.controller.ts
  apps/api/tsconfig.json
  apps/web/netlify.toml
Labels: api, web

apiのCIにtest追加
  .github/workflows/api-ci.yml
Labels: none

ルートにnetlifyの設定ファイル移動
  apps/web/netlify.toml
Labels: web

ignore対象追加
  apps/web/netlify.toml
Labels: web

ルート移動して検証
  netlify.toml
Labels: none

検証
  netlify.toml
Labels: none

Revert "検証"
  netlify.toml
Labels: none

Revert "ルート移動して検証"
  apps/web/netlify.toml
Labels: web

vitestの設定更新
  apps/web/package.json
  apps/web/vitest.config.ts
  package-lock.json
Labels: web
