Repository y-hsgw/github-actions-lab, changes with the labels that .github/labeler.yml gives for each.
All labels: api, web, docs, e2e

デバッグ
  apps/web/netlify.toml
  apps/web/script/ignore-build.sh
Labels: web

検証
  script/ignore-build.sh
Labels: none

ディレクトリ名修正
  apps/web/scripts/ignore-build.sh
Labels: web

ルートに移動
  scripts/ignore-build.sh
Labels: none

ログ追加
  scripts/ignore-build.sh
Labels: none

format
  vitest.workspace.ts
Labels: none

format
  apps/web/vitest.setup.ts
Labels: web

ignoreコマンド修正
  apps/web/netlify.toml
Labels: web

scriptsの削除
  scripts/ignore-build.sh
Labels: none

loading.tsxの作成
  apps/web/src/app/loading.tsx
Labels: web

netlifyのコンフィグをルートに移動
  netlify.toml
Labels: none

検証
  netlify.toml
Labels: none

webに配置
  apps/web/netlify.toml
  netlify.toml
Labels: web

format
  apps/api/eslint.config.js
Labels: api

デバッグ
  apps/web/netlify.toml
  ignore-script.sh
Labels: web

format
  apps/api/src/cats/cat.module.ts
Labels: api

デバッグ
  ignore-script.sh
Labels: none

デバッグ
  ignore-script.sh
Labels: none

デバッグ
  ignore-script.sh
Labels: none

検証
  apps/web/src/app/page.tsx
Labels: web

ignoreコマンドに記載
  apps/web/netlify.toml
Labels: web

デバッグスクリプト削除
  ignore-script.sh
Labels: none

format
  vitest.config.ts
Labels: none

netlify.tomlの検証
  apps/web/netlify.toml
Labels: web

netlify.tomlの検証
  apps/web/netlify.toml
Labels: web

検証
  apps/web/netlify.toml
Labels: web

検証
  apps/web/netlify.toml
Labels: web

apiのCIにtest追加 (#26)
  .github/workflows/api-ci.yml
  apps/api/eslint.config.js
  apps/api/src/cats/cat.module.ts
  apps/web/netlify.toml
  apps/web/package.json
  apps/web/src/app/loading.tsx
  apps/web/src/app/page.tsx
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  package-lock.json
  vitest.config.ts
  vitest.workspace.ts
Labels: api, web

readmeにstatus badge付与
  README.md
Labels: none

フォーマット整理
  .github/workflows/docs-deploy.yml
Labels: none

READMEにStatus Badge付与 (#27)
  .github/workflows/docs-deploy.yml
  README.md
Labels: none

steps.deployment.outputs.page_urlの検証
  .github/workflows/docs-deploy.yml
Labels: none

prism-react-rendererの更新
  docs/package.json
  package-lock.json
Labels: docs

不要なstep削除
  .github/workflows/docs-deploy.yml
Labels: none

upload-pages-artifactとdeploy-pagesの関連性確認
  .github/workflows/docs-deploy.yml
Labels: none

deploy-pagesのinput修正
  .github/workflows/docs-deploy.yml
Labels: none

検証終了のため元に戻す
  .github/workflows/docs-deploy.yml
Labels: none

Docs Deploy to GitHub Pages CDの更新 (#28)
  docs/package.json
  package-lock.json
Labels: docs

webのlint cache
  apps/web/.gitignore
  apps/web/package.json
Labels: web

nextとeslint-config-nextバージョン更新
  apps/web/package.json
  package-lock.json
Labels: web

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: apps/api/**

web:
  - changed-files:
      - any-glob-to-any-file: apps/web/**

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

e2e:
  - changed-files:
      - any-glob-to-any-file: e2e/**
