Repository y-hsgw/github-actions-lab, changes with the labels that .github/labeler.yml gives for each.
All labels: api, web, docs, e2e

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: apps/api/**

web:
  - changed-files:
      - any-glob-to-any-file: apps/web/**

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

e2e:
  - changed-files:
      - any-glob-to-any-file: e2e/**

eslintのキャッシュ適用
  apps/api/.gitignore
  apps/api/package.json
Labels: api

lintのキャッシュ適用させたCIに更新
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

step名修正
  .github/workflows/api-ci.yml
Labels: none

typescript-eslintのバージョン更新
  package-lock.json
  packages/eslint-config/package.json
Labels: none

restore-keysを削除
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

@vitest/eslint-pluginの更新
  package-lock.json
  packages/eslint-config/package.json
Labels: none

各ワークスペースのルートを環境変数として追加
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

step名修正
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
Labels: none

aboutページの作成
  apps/web/src/app/about/[[...slug]]/page.tsx
Labels: web

eslintのキャッシュ適用 (#29)
  .github/workflows/api-ci.yml
  .github/workflows/web-ci.yml
  apps/api/.gitignore
  apps/api/package.json
  apps/web/package.json
  apps/web/src/app/about/[[...slug]]/page.tsx
  package-lock.json
  packages/eslint-config/package.json
Labels: api, web

aboutにmetadata実装
  apps/web/src/app/about/[[...slug]]/page.tsx
Labels: web

aboutにmetadata実装 (#30)
  apps/web/src/app/about/[[...slug]]/page.tsx
Labels: web
